@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Heebo:wght@200;300;400&display=swap');

@media only screen and (max-width: 600px) and (min-width: 380px) {

body, html{
  max-width: 100%;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Didact Gothic', sans-serif;
}

.menu-desk{
display: none;
}

.menu{
  width: 100%;
  height: 8vh;
  position: fixed;
  z-index: 1;
  background: #000;
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  display: flex;
  align-items: center;
  gap: 44vw;
  transition: 0.5s;
}

#home{
  color: #ffffff;
}

.menu i{
  font-size: 40px;
  color: #726634;
}

.menu img{
  width: 43vw;
  margin-left: 5%;
}

.submenu{
 z-index: 2;
 position: fixed;
 background: rgba(0, 0, 0, 0.9);
 -webkit-backdrop-filter: blur(10px);
 backdrop-filter: blur(10px);
 width: 100%;
 height: 100%;
 margin-top: 8vh;
 display: none;
 text-align: center;
}

.submenu li{
  margin-top: 5%;
  list-style-type: none;
}

.submenu a{
  color: #726634;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
}

.menu-desk ul{
  display: flex;
  gap: 8vw;
  margin-right: 6vw;
  list-style: none;
}

.menu-desk a{
  color: #fff;
  text-decoration: none;
  font-size: 19px;
  transition: 0.3s;
}

.menu-desk a:hover{
  color: #726634;
}

.menu-desk img{
  width: 18vw;
  margin-left: 2vw;
}

header{
  width: 100vw;
  background-color: #f4ebe2;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10vh;
}

.texto{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-left: 10%;
}

.texto h1{
  margin: 0;
  font-size: 40px;
  font-family: 'Heebo', sans-serif;
  font-weight: 300;
}

.linha{
  width: 30vw;
  height: 3px;
  background-color: #000000;
}

.texto p{
  font-size: 26px;
  width: 80%;
  margin: 35px 0;
}

.texto button{
  width: 60%;
  height: 45px;
  background: #000;
  font-size: 22px;
  font-family: 'Heebo', sans-serif;
  transition: 0.4s;
  margin-bottom: 10%;
  color: #fff;
  border: none;
  font-weight: 300;
}

header img{
  display: none;
}

#produtos{
  width: 100vw;
}

.titulo-of{
  text-align: center;
  font-family: 'Heebo', sans-serif;
  font-size: 40px;
  font-weight: 300;
}

.prod-menu{
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 5%;
}

.prod-menu button{
  border: none;
  font-size: 22px;
  font-family: 'Heebo', sans-serif;
  transition: 0.4s;
  background: #000;
  color: #fff;
  width: 27%;
  padding: 0.30% 0 0.30%;
  transition: 0.4s;
  cursor: pointer;
}


.subtitulo{
  font-size: 30px;
  text-align: center;

}

.salgados{
  width: 100%;
  display: grid;
  grid-template-areas: 
  'prod'
  'prod'
  'prod'
  'prod'
  'prod'
  'prod'
  'prod'
  'prod'
  ;
  padding-bottom: 2%;
}

.produto{
  border-radius: 5%;
  margin: 10% 0 0 5%;
  width: 85%;
  height: 90%;
  overflow: hidden;
  text-align: center;
  box-shadow: 11px 12px 11px rgba(0, 0, 0, 0.30);
  transition: 0.3s;
  cursor: pointer;
}

.produto:hover{
  box-shadow: 13px 15px 13px rgba(0, 0, 0, 0.50);
  width: 86%;
  height: 91%;
  margin: 9% 0 0 4%;
}

.texto-prod{
  display: none;
  font-size: 26px;
  margin-bottom: 15%;
}

.texto-produtos{
  display: none;
}

.texto-produtos p{
  padding-bottom: 4%;
}

.texto-pizza{
  display: none;
}

.texto-pizza p{
  padding-bottom: 10%;
}

#prod-vira:hover .texto-prod{
  display: block;
}

#prod-vira:hover .textos{
  display: none;
}

.produto img{
  height:   350px;
}

.nome-prod{
  font-size: 28px;
}

.preco{
  font-size: 26px;
}

.doce{
  width: 100%;
  display: flex;
  padding-bottom: 3%;
  display: grid;
  grid-template-areas: 
  'prod'
  'prod'
  'prod';
}

.prod-doce{
  margin-left: 8%;
  width: 83%;
  margin-top: 3%;
}

.preco-doce{
  margin-bottom: 18%;
}


.prod-doce:hover{
  box-shadow: 13px 15px 13px rgba(0, 0, 0, 0.50);
  width: 84%;
  margin: 2% 0 0 4%;
}

.prod-bebida{
  width: 90%;
  margin-top: 3%;
}

.prod-bebida:hover{
  box-shadow: 13px 15px 13px rgba(0, 0, 0, 0.50);
  width: 91%;
  margin: 2% 0 0 4%;
}

#contato{
  width: 100%;
  background-color: #f4ebe2;
}

.container{
  width: 100%;
  display: flex;
  padding-bottom: 7%;
  flex-direction: column;
}

.contatos{
  display: flex;
  flex-direction: column;
  width: 90%;
  border-bottom: #000 solid 1px ;
  margin-left: 5%;
}

.contatos h3{
  font-size: 32px;
  font-family: 'Heebo', sans-serif;
  font-weight: 300;
}

.contatos a{
  font-size: 28px;
  text-decoration: none;
  color: #000;
}

.contatos i{
  margin: 5% 5% 0 0;
  font-size: 38px;
}

.food{
  margin-bottom: 10%;
}

.contatos img{
  margin-top: 8%;
}

#contato h2{
  padding-top: 8%;
  margin-bottom: 0;
}

.loja{
  width: 90%;
  margin-left: 5%;
}

.loja h3{
  font-size: 32px;
  font-family: 'Heebo', sans-serif;
  font-weight: 300;
}

.loja a{
  font-size: 28px;
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

.loja img{
  width: 12%;
}

footer{
  background-color: #f4ebe2;
  text-align: center;
  width: 100%;
  color: #000;
  padding: 0.25%;
  font-size: 18px;
  border-top: 1px solid #000;
}
}